<app-header></app-header>
<div class="container">
  <div class="col">
    <input class="form-control mt-2" type="text" placeholder="Buscar" (change)="changeCount = changeCount + 1" (keyup)="applyFilter($event)" >
  </div>
  <div class="row" *ngIf="active == 'Vehiculos'">
    <div class="col text-center"  *ngFor="let car of cars">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/861a4abe_2fec_44aa_aa21_c79ceca1cdc3_660_080520125004.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="background-color: yellow;">{{car.placa}}<br><small>Bogotá D.C</small></h5>
          <a href="#" (click)="open(content,car)" class="btn btn-primary">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{activeCar.placa}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
